//
// Selected Projects
//


// Section Variables


$projects-spacing: 4.5rem;
$projects-spacing-half: $projects-spacing / 2;
$projects-spacing-third: $projects-spacing / 3;
$projects-spacing-additional: .95rem;


// Section Styling


.projects {
  position: relative;
  @include flex-container(column);
  width: 100%;
  color: $brand-color-saturated;
  @include background-polka-dots(
    $background: darken($light-grey-1, 1%),
    $dots-1:     $brand-color,
    $dots-2:     $pinkish-violet,
    $opacity:    .017);
}

.project-row-container {
  @include flex-container(row);
  width: 100%;
}

.project-row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-container {
  @include flex-container(column);
  align-self: flex-start;
  width: 100vw;
  min-height: 100vh;
  padding: 1rem;

  @include media-between-widths(
    $min-width: $small-devices,
    $max-width: $very-large-devices) {
      padding: 3rem;
  }
}

.project-container:nth-child(even) {
  @include background-polka-dots(
    $background: darken($light-grey-1, 3.75%),
    $dots-1:     $brand-color,
    $dots-2:     $pinkish-violet,
    $opacity:    .014);
}

.project {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 1s ease-out;

  @include media-between-widths(
    $min-width: $large-devices,
    $max-width: $very-large-devices) {
      width: 65vw;
  }

  @include media($very-large-devices) {
    flex-direction: row;
    width: 84vw;
  }

  @include media($extra-large-devices) {
    max-width: 1350px;
  }
}

.project[data-emergence=hidden] {
  bottom: -$emergence-offset;
  opacity: 0;
}

.project[data-emergence=visible] {
  bottom: 0;
  opacity: 1;
}

.project__image-container {
  flex-basis: 50%;
  position: relative;
  border-bottom: .4rem solid $brand-color-saturated;
  @include diagonal-box-shadow(.41rem);
}

.project__image-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  @include background-shine-gradient;
  opacity: 0.03;
  z-index: 1;
}

.project__image {
  display: block;
  background-color: $brand-color-saturated;
}

.project__image-overlay {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(saturate($brand-color-saturated, 100%), .07);
  z-index: 0;
}

.project__image-corner {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 8rem 8rem 0;
  border-color: transparent $brand-color-saturated transparent transparent;
  z-index: 10;

  @include media($medium-devices) {
    border-width: 0 13rem 13rem 0;
  }

  @include media-between(
    $min-width: $extra-large-devices,
    $max-height: 900px) {
      border-width: 0 10.5rem 10.5rem 0;
  }
}

.project__icon {
  position: absolute;
  top: 1.4rem;
  right: 1.4rem;
  width: 1.75rem;
  z-index: 100;

  @include media($medium-devices) {
    top: 1.95rem;
    right: 1.95rem;
    width: 3.25rem;
  }

  @include media-between(
    $min-width: $extra-large-devices,
    $max-height: 900px) {
      top: 1.5rem;
      right: 1.5rem;
      width: 2.75rem;
  }
}

.project__separator {
  display: none;

  @include media-between-widths(
    $min-width: $large-devices,
    $max-width: $very-large-devices) {
      display: block;
      height: 1.9rem;
  }
}

.project__information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 45.5%;

  @include media($very-large-devices) {
    margin-left: 5.2%;
  }
}

.project__title {
  margin-top: 1.75rem;
  margin-bottom: 1.2rem;
  font-size: 1.6rem;
  font-style: italic;
  color: $brand-color-saturated;

  @include media($medium-devices) {
    margin-top: 2.1rem;
    margin-bottom: 2.6rem;
    font-size: 2.6rem;
  }

  @include media($large-devices) {
    margin-top: 0;
  }

  @include media($extra-large-devices) {
    font-size: 2.8rem;
  }
}

.project__description {
  margin: 0 auto;
  font-family: $dejavu-sans;
  width: 100%;

  @include media($medium-devices) {
    margin-bottom: .4rem;
    font-size: 1.35rem;
  }

  @include media($extra-large-devices) {
    font-size: 1.45rem;
  }
}

.project__tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin-top: 1.4rem;
  margin-bottom: 1.85rem;
}

.project__tags--text {
  margin: 0 auto;
  font-family: $dejavu-sans;
  width: 100%;

  @include media($medium-devices) {
    font-size: 1.35rem;
  }

  @include media($extra-large-devices) {
    font-size: 1.45rem;
  }
}

.project__tags--box {
  margin-right: .77rem;
  margin-bottom: .6rem;
  padding-top: .5rem;
  padding-right: .5rem;
  padding-bottom: .4rem;
  padding-left: .5rem;
  font-style: $dejavu-sans;
  font-size: .73rem;
  color: $brand-color-saturated;
  text-transform: uppercase;
  border: 1px solid $brand-color-saturated;
  @include diagonal-box-shadow(0.25rem);

  @include media($medium-devices) {
    font-size: .93rem;
    letter-spacing: 0.05rem;
  }
}

.project__links {
  margin-top: 0;
}

.project__link {
  padding-top: 3px;
  margin-right: .3rem;
  font-family: $dejavu-sans;
  font-size: 1.2rem;
  color: $brand-color-saturated;

  @include media($medium-devices) {
    font-size: 1.35rem;
  }

  @include media($extra-large-devices) {
    font-size: 1.45rem;
  }
}

.projects__hr {
  height: 1px;
  background-color: $dark-yellow;
  border: none;
}


// Section Footer


.projects-footer {
  position: relative;
  @include flex-container(column);
  width: 100%;
  height: 100vh;
  @include background-gradient;
}

.projects-footer__link {
  position: relative;
  margin: ($projects-spacing + $projects-spacing-half) 1.1rem;
  font-size: 1.4rem;
  font-style: italic;
  text-align: center;
  line-height: 1.4;
  @include diagonal-box-shadow(.41rem);
  transition: all 1s;

  @include media($medium-devices) {
    margin: ($projects-spacing * 2 + $projects-spacing-half) auto;
    font-size: 1.7rem;
  }
}

.projects-footer__link[data-emergence=hidden] {
  bottom: -$emergence-offset;
  opacity: 0;
}

.projects-footer__link[data-emergence=visible] {
  bottom: 0;
  opacity: 1;
}
