<section class="about screen inert" id="about">

  <%= partial "partials/navigation_top",
    locals: {
      destination_id: "front-cover",
      style: "dark"
    }
  %>

  <div class="about-container">

    <div class="about__avatar">
      <img src="assets/images/avatar_circle_190px.png" alt="Avatar"
        class="img-avatar--circle">
      <img src="assets/images/avatar_big_transparent_425px.png" alt="Avatar"
        class="img-avatar--transparent">
    </div>

    <div class="about__text sans">
      <h2 class="about__heading serif">Hola! My name is Luján.</h2>

      <p>I'm a <strong>Full Stack Rails Developer</strong> with <em>four years</em> of remote work experience. <span class="note-tooltip-trigger" data-behavior="tooltip" title="As a Search Engine Evaluator." tabindex="0">*</span>&nbsp; I've been learning web development on my own for the last two years and half; averaging three hours per day, <%= link_to "consistently", "#about", class: "text-link", data: { behavior: "open-modal", modal: "modal-stats" } %>.</p>

      <p>I'm fluent in <em>Object Oriented Programming</em>, <em>Ruby</em>, <em>Rails</em>, <em>CSS</em>, <em>Sass</em> and <em>Git</em>; and can speak <em>JavaScript</em>, <em>React</em> and <em>SQL</em>.</p>

      <p>I love building products from end to end, and I'm passionate about <em>clean code</em>, <em>testing</em>, <em>refactoring</em>, <em>clean design</em>, and <em>user experience</em>.</p>

      <!--
      Added tooltip content as HTML so it doesn't break the text in two lines,
      and Popper.js keeps positioning the element correctly.

      If we just set the tooltip content as 'inline-block' or try to adjust the width manually, the tooltip would overflow the viewport when
      placed close to the viewport border.
       -->

      <div id="note-tooltip-content"
        style="display: none; margin: 0; padding: 0;">
        <p style="margin: 0; padding: 0;">As a Search Engine Evaluator.</p>
      </div>
    </div>

    <!-- Stats Modal -->

    <% partial "partials/modal",
      locals: { id: "modal-stats", title: "Development Stats" } do %>
      <div class="stats-container">
        <div class="stats__data">
          <h3 class="stats__h3">2018</h3>

          <h4>Hours</h4>
          <img src="assets/images/stats/hours_2018.png" alt="Hours in 2018" class="stats__img">

          <h4>Commits</h4>
          <img src="assets/images/stats/commits_last_year.png" alt="Commits in 2018" class="stats__img">

          <h3 class="stats__h3">2017</h3>

          <h4>Hours</h4>
          <img src="assets/images/stats/hours_2017.png" alt="Hours in 2017" class="stats__img">

          <h4>Commits</h4>
          <img src="assets/images/stats/commits_2017.png" alt="Commits in 2017" class="stats__img">

          <h3 class="stats__h3">2016</h3>

          <h4>Hours</h4>
          <img src="assets/images/stats/hours_2016.png" alt="Hours in 2016" class="stats__img">

          <h4>Commits</h4>
          <img src="assets/images/stats/commits_2016.png" alt="Commits in 2016" class="stats__img">

          <p class="stats__p about__text">
            * Stats last updated on October 12 2018.
          </p>
        </div>
      </div>
    <% end %>

  </div>

  <%= partial "partials/navigation_bottom",
    locals: {
      destination_id: "selected-projects",
      style: "dark"
    }
  %>

</section>
