<section class="back-cover overflow-hidden" id="back-cover">

  <!-- .lets-talk-container -->
  <div class="lets-talk-container">

    <!-- Scroll to bottom to prevent contact section height to be cut.
         This is hidden and used in main.js when opening and
         closing the contact section. -->
    <a class="scroll-to-back-cover visibility-hidden"
      href="#back-cover" data-scroll></a>

    <!-- .lets-talk-link -->
    <a class="lets-talk-link"
      href="mailto:hello@lujanfernaud.com" aria-label="Email">
      <div class="lets-talk">
        <svg class="lets-talk__text lets-talk__text--paused"
          xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 434.60938 303.50475">
          <path d="M0 116.64l1.7969-9.4531h14.922l19.062-97.734h-14.922l1.7969-9.4531h60l-1.7969 9.4531h-15l-18.75 96.484h45.938l3.5156-18.438h10.547l-5.625 29.141H.0045zm183.44-65q0-11.484-9.6875-11.484-7.4219 0-11.797 7.0312-4.375 6.9531-8.3594 28.906h1.7188q23.906 0 27.578-18.984.54687-2.9688.54687-5.4688zm-31.719 33.75q-.46875 2.6562-.46875 8.2031.0781 16.484 16.094 16.484 8.9844 0 15.469-4.7656 6.4844-4.7656 9.7656-13.828h12.969q-6.0938 14.141-17.422 20.781-11.25 6.6406-29.219 6.6406-21.562 0-30.859-11.328-6.4844-7.9688-6.4844-20.547 0-5.3906 1.25-11.719 3.9844-20.859 18.047-32.422 14.062-11.562 34.688-11.562 14.922 0 25.234 5.8594 10.391 5.7812 10.391 16.328 0 2.1094-.46875 4.375-4.9219 25.312-58.984 27.5zm86.249-42.34h-12.031l1.7969-9.4531h12.031l5-25.781h27.656l-5 25.781h23.047L288.673 43.05h-23.047l-9.9219 50.859q-1.3281 6.9531-1.3281 10.469 0 2.1094.39063 3.0469 1.25 2.6562 5.7812 2.6562 5 0 8.0469-3.3594t4.6094-10.391h11.641q-3.125 12.5-10.234 17.578-7.1094 5-22.109 5-17.109 0-22.188-5.3906-3.2812-3.4375-3.2812-10.625 0-3.9062 1.0156-8.9844l9.9219-50.859zm59.46-7.81q8.5156-5.2344 13.359-12.578 4.8438-7.3438 6.9531-18.359l.85937-4.2969h21.094q-3.8281 16.328-12.5 27.266t-23.594 18.516l-6.1719-10.547zm54.76 55.78h8.8281q-.0781 1.1719-.0781 2.2656 0 7.6562 4.6094 12.266 4.6094 4.5312 13.906 4.5312 18.203 0 20.391-11.328.3125-1.4844.3125-3.6719 0-2.1094-2.0312-4.4531-1.9531-2.3438-9.7656-4.375l-10.859-2.8906q-12.266-3.2031-16.172-8.2812-3.9062-5.0781-3.9062-11.328 0-2.6562.54687-5.7031 2.6562-13.516 13.281-20.078 10.703-6.6406 27.734-6.6406t35.625 5l-4.1406 20.938h-8.8281q.23437-1.4844.23437-2.8125 0-14.297-17.656-14.297-17.734 0-19.766 10.547-.23438 1.25-.23438 3.0469 0 5.0781 9.6094 7.6562l10.781 2.8906q15.547 4.1406 19.844 9.375 4.2969 5.1562 4.2969 11.875 0 2.7344-.625 5.9375-2.7344 14.062-14.062 20.781-11.328 6.6406-32.5 6.6406-15.391 0-33.828-4.6875l4.4531-23.203zM23.6 227.65H11.569l1.7969-9.4531h12.031l5-25.781h27.656l-5 25.781h23.047L74.303 227.65H51.256l-9.9219 50.859q-1.3281 6.9531-1.3281 10.469 0 2.1094.39063 3.0469 1.25 2.6562 5.7812 2.6562 5 0 8.0469-3.3594t4.6094-10.391h11.641q-3.125 12.5-10.234 17.578-7.1094 5-22.109 5-17.109 0-22.188-5.3906-3.2812-3.4375-3.2812-10.625 0-3.9062 1.0156-8.9844l9.9219-50.859zm119.92 5.15q-.23438-4.6875-4.6875-4.6875-10.469 0-20.703 12.5-4.7656 5.7812-8.5156 25.078-2.8125 14.453-.78125 20.078 2.0312 5.5469 9.4531 5.5469 7.2656 0 11.797-6.4844 4.6094-6.4844 7.4219-21.016l6.0156-31.016zm26.562-12.109l-13.672 71.094 10.391-.15625-1.875 9.6094h-34.688l2.0312-10.547q-8.5938 12.812-23.828 12.812-15.078 0-21.797-9.9219-6.7188-10-3.2812-27.344 3.3594-17.422 18.359-32.5 17.734-17.812 41.484-17.812 23.438 0 26.875 4.7656zm46.408 71.099h11.875l-1.7969 9.4531h-39.531l21.797-112.19h-11.797l1.7969-9.375h39.453l-21.797 112.11zm59.14 9.45h-27.656l21.797-112.19h-11.797l1.7969-9.375h39.453l-15.156 78.047 39.375-30.078h-9.9219l1.7969-9.4531h22.5l-1.7969 9.4531-25.156 19.219 26.25 44.922h8.9844l-1.7969 9.4531h-30.547l-22.812-39.062-9.0625 6.875-6.25 32.188zm89.45-12.66q1.1719-6.0938 6.3281-10.469 5.2344-4.375 11.328-4.375 6.0938 0 9.6094 4.375t2.3438 10.469q-1.1719 6.1719-6.4062 10.547-5.2344 4.375-11.328 4.375-6.0938 0-9.6094-4.375-3.4375-4.375-2.2656-10.547zm20.391-103.98h29.297l-22.109 65.781-2.8906 14.844h-10.859l2.8906-14.844 3.6719-65.781z"/>
        </svg>
        <img class="lets-talk__mail lets-talk__mail--paused"
          src="assets/images/icons/email_icon.svg">
      </div>
    </a>
    <!-- /.lets-talk-link -->

    <!-- .cover-icons-container -->
    <div class="cover-icons-container">

      <!-- .link-icon -->
      <a class="link-icon link-icon--twitter"
        href="https://twitter.com/nujaud">
        <svg class="icon cover-icon"
          xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400"
            aria-labelledby="title">
          <title>Twitter</title>
          <path fill="#43388a" d="M400 200c0 110.5-89.5 200-200 200S0 310.5 0 200 89.5 0 200 0s200 89.5 200 200zM163.4 305.5c88.7 0 137.2-73.5 137.2-137.2 0-2.1 0-4.2-.1-6.2 9.4-6.8 17.6-15.3 24.1-25-8.6 3.8-17.9 6.4-27.7 7.6 10-6 17.6-15.4 21.2-26.7-9.3 5.5-19.6 9.5-30.6 11.7-8.8-9.4-21.3-15.2-35.2-15.2-26.6 0-48.2 21.6-48.2 48.2 0 3.8.4 7.5 1.3 11-40.1-2-75.6-21.2-99.4-50.4-4.1 7.1-6.5 15.4-6.5 24.2 0 16.7 8.5 31.5 21.5 40.1-7.9-.2-15.3-2.4-21.8-6v.6c0 23.4 16.6 42.8 38.7 47.3-4 1.1-8.3 1.7-12.7 1.7-3.1 0-6.1-.3-9.1-.9 6.1 19.2 23.9 33.1 45 33.5-16.5 12.9-37.3 20.6-59.9 20.6-3.9 0-7.7-.2-11.5-.7 21.1 13.8 46.5 21.8 73.7 21.8"/>
        </svg>
      </a>
      <!-- /.link-icon -->

      <!-- .link-icon -->
      <a class="link-icon link-icon--github"
        href="https://github.com/lujanfernaud">
        <svg class="icon cover-icon"
          xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24" aria-labelledby="title">
          <title>GitHub</title>
          <path fill="#43388a" d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12"/>
        </svg>
      </a>
      <!-- /.link-icon -->

      <!-- .link-icon -->
      <a class="link-icon link-icon--exercism"
        href="http://exercism.io/lujanfernaud">
        <svg class="icon cover-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 384" aria-labelledby="title">
          <title>Exercism</title>
          <g fill="none" fill-rule="evenodd">
            <circle cx="192" cy="192" r="192" fill="transparent"/>
            <path fill="#43388a" d="M244.1 101.5s3.3 33.8-18.3 52.1c-8.7-5.5-19.6-8.6-32.5-8.6-11.9 0-23.6 3.4-33.7 9.7-23.1-18.1-19.6-53.2-19.6-53.2-25.6 49.9 1.3 69.4 1.9 69.9-7.1 10.2-11.5 23.1-11.5 38.2 0 40.5 29.7 64.4 66.7 64.4 18.9 0 35-6.3 47.8-14.3l-8.8-15.8c-11.1 6.5-22.4 10.6-35.7 10.6-24.7 0-42.8-14.3-44.3-38.5h92.6c.5-3 1.3-7.8 1.3-12.8 0-12.1-2.6-22.9-7.6-31.8 2.4-1.9 26.3-21.9 1.7-69.9zm-88.3 97.3c3.3-21.9 19.6-34.2 38-34.2 21.1 0 33 12.3 33 34.2h-71zM192 384C86.1 384 0 297.9 0 192S86.1 0 192 0s192 86.1 192 192-86.1 192-192 192zm0-359.1c-92.2 0-167.1 75-167.1 167.1 0 92.2 75 167.1 167.1 167.1 92.2 0 167.1-75 167.1-167.1 0-92.2-74.9-167.1-167.1-167.1z"/>
          </g>
        </svg>
      </a>
      <!-- /.link-icon -->

    </div>
    <!-- /.cover-icons-container -->

  </div>
  <!-- /.lets-talk-container -->

  <!-- ############################################################## -->

  <!-- .contact-section-container -->
  <div class="contact-section-container visibility-hidden">

    <!-- .contact-section -->
    <div class="contact-section">
      <a class="contact-section__close link-no-border" href="#"
        alt="Close contact form" title="Close contact form">&#x2715;</a>

      <!-- .contact-section-form -->
      <form class="contact-section__form"
        action="https://formspree.io/hello@lujanfernaud.com" method="POST">
        <!-- Shown after email is sent. -->
        <input type="hidden" name="_next" value="http://lujanfernaud.com/portfolio">

        <div class="form-row">
          <div class="form-row__item">
            <label for="name" class="form-label">Name</label>
            <input type="text" name="name" placeholder="Your name" class="input">
          </div>

          <div class="form-row__item">
            <label for="email" class="form-label">Email</label>
            <input type="email" name="email" placeholder="Your email" class="input">
          </div>
        </div>

        <div>
          <label for="message" class="form-label">Message</label>
          <textarea name="message" placeholder="Your message" class="form-textarea input" rows="7"></textarea>
        </div>

        <input type="submit" value="Send" class="form-button btn btn--large">
      </form>
      <!-- /.contact-section-form -->

      <a class="contact-section__link-email"
        href="mailto:hello@lujanfernaud.com">Or use your favorite email app.</a>
    </div>
    <!-- /.contact-section -->

    <!-- .contact-section-transition -->
    <div class="contact-section-transition">
      <div class="color-column color-column-1"></div>
      <div class="color-column color-column-2"></div>
      <div class="color-column color-column-3"></div>
      <div class="color-column color-column-4"></div>
      <div class="color-column color-column-5"></div>
      <div class="color-column color-column-6"></div>
      <div class="color-column color-column-7"></div>
      <div class="color-column color-column-8"></div>
      <div class="color-column color-column-9"></div>
      <div class="color-column color-column-10"></div>
      <div class="color-column color-column-11"></div>
      <div class="color-column color-column-12"></div>
      <div class="color-column color-column-13"></div>
      <div class="color-column color-column-14"></div>
      <div class="color-column color-column-15"></div>
      <div class="color-column color-column-16"></div>
      <div class="color-column color-column-17"></div>
      <div class="color-column color-column-18"></div>
      <div class="color-column color-column-19"></div>
      <div class="color-column color-column-20"></div>
      <div class="color-column color-column-21"></div>
      <div class="color-column color-column-22"></div>
      <div class="color-column color-column-23"></div>
      <div class="color-column color-column-24"></div>
      <div class="color-column color-column-25"></div>
      <div class="color-column color-column-26"></div>
      <div class="color-column color-column-27"></div>
      <div class="color-column color-column-28"></div>
      <div class="color-column color-column-29"></div>
    </div>
    <!-- /.contact-section-transition -->

  </div>
  <!-- /.contact-section-container -->

</section>
