<div class="navigation navigation--left opacity-hidden">
  <a class="chevron chevron--<%= style %>"
    href="#<%= destination_id %>" data-scroll>
    <!-- Chevrons by Ivan Boyko -->
    <svg class="chevron-icon--left icon chevron--<%= style %>"
      xmlns="http://www.w3.org/2000/svg" version="1" viewBox="0 0 24 24">
      <path fill="none" stroke-miterlimit="10" stroke-width="2" d="M15.5 21l-9-9 9-9"/>
    </svg>
  </a>
</div>
