//
// Helpers
//


.display-none {
  display: none !important;
}

.visibility-hidden {
  visibility: hidden !important; // Not to be found by screen readers.
}

.opacity-hidden {
  opacity: 0 !important;
}

.overflow-hidden {
  overflow: hidden !important;
}

.overflow-vertical-auto {
  overflow-y: auto !important;
}

.icon {
  color: transparent !important;
}

.hr-20 {
  width: 20% !important;
}

.link-no-border {
  border: 0 !important;
}
