html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
  font-size: 18px;
  color: #303030;
}
@media (min-width: 767px) {
  body {
    font-size: 22px;
  }
}
@media (min-width: 991px) {
  body {
    font-size: 26px;
  }
}
@media (min-width: 1199px) {
  body {
    font-size: 32px;
  }
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  border-bottom: 1px solid;
  color: #403d78;
}

a:hover,
a:focus {
  color: #544d8a;
}

.cover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  padding: 1rem;
  color: #fbfafc;
  background: -webkit-linear-gradient(-45deg, #705a9e 0, #544d8a 100%);
  background: -moz-linear-gradient(135deg, #705a9e 0, #544d8a 100%);
  background: linear-gradient(135deg, #705a9e 0, #544d8a 100%);
  background-position: 50% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
}
@media (min-width: 1199px) {
  .cover {
    width: 100%;
  }
}

.cover-decoration {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  padding: .4rem;
}
@media (min-width: 767px) {
  .cover-decoration {
    padding: .7rem;
  }
}

.cover-decoration-top {
  width: calc(100% - 3rem);
  height: 1px;
  border-top: 1px solid #bf8bf5;
}
@media (min-width: 767px) {
  .cover-decoration-top {
    right: .7rem;
    width: calc(100% - 6rem);
  }
}

.cover-decoration-right {
  position: absolute;
  top: 2.6rem;
  right: .4rem;
  height: calc(100vh - 3rem);
  width: 1px;
  border-right: 1px solid #bf8bf5;
}
@media (min-width: 767px) {
  .cover-decoration-right {
    top: 5.3rem;
    right: .7rem;
    height: calc(100vh - 6rem);
  }
}

.cover-decoration-bottom {
  position: absolute;
  bottom: .4rem;
  left: 2.6rem;
  width: calc(100% - 3rem);
  height: 1px;
  border-bottom: 1px solid #bf8bf5;
}
@media (min-width: 767px) {
  .cover-decoration-bottom {
    bottom: .7rem;
    left: 5.3rem;
    width: calc(100% - 6rem);
  }
}

.cover-decoration-left {
  height: calc(100vh - 3rem);
  width: 1px;
  border-left: 1px solid #bf8bf5;
}
@media (min-width: 767px) {
  .cover-decoration-left {
    bottom: .7rem;
    height: calc(100vh - 6rem);
  }
}

.cover-name-container {
  position: relative;
  cursor: help;
}

.name-question-mark {
  position: absolute;
  top: -1.85rem;
  right: calc(50% - 1.4rem);
  padding: 1rem 1rem 1.5rem 1rem;
  font-size: 1rem;
  opacity: .55;
  transition: opacity .5s;
}
@media (min-width: 767px) {
  .name-question-mark {
    top: -.8rem;
    right: -3.5rem;
    padding: 1.5rem;
    font-size: 1.4rem;
  }
}
@media (min-width: 991px) {
  .name-question-mark {
    top: 0;
    right: -4rem;
    padding: 1.5rem;
    font-size: 1.5rem;
  }
}

.opacity-hidden {
  opacity: 0;
}

.cover-name {
  position: relative;
  margin-bottom: .6rem;
  font-style: italic;
  font-size: 2rem;
  font-weight: 600;
  transition: all .5s;
}
@media (min-width: 767px) {
  .cover-name {
    font-size: 4rem;
  }
}
@media (min-width: 991px) {
  .cover-name {
    font-size: 5rem;
  }
}

.flip {
  backface-visibility: hidden !important;
  animation: 1s flip forwards;
}

@keyframes flip {
  0% {
    opacity: 1;
    transform: perspective(400px) rotate3d(1, 0, 0, 0deg);
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
    transform: perspective(400px) rotate3d(1, 0, 0, -90deg);
  }
  75% {
    opacity: 1;
  }
  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -360deg);
  }
  90% {
    transform: perspective(400px) rotate3d(1, 0, 0, -345deg);
  }
  95% {
    transform: perspective(400px) rotate3d(1, 0, 0, -360deg);
  }
  97% {
    transform: perspective(400px) rotate3d(1, 0, 0, -355deg);
  }
  100% {
    opacity: 1;
    transform: perspective(400px) rotate3d(1, 0, 0, -360deg);
  }
}
.hr-small {
  width: 13.1rem;
  height: 1px;
  background-color: #fbfafc;
  border: 0;
}
@media (min-width: 767px) {
  .hr-small {
    width: 17rem;
  }
}
@media (min-width: 991px) {
  .hr-small {
    width: 20.6rem;
    margin: 1.4rem;
  }
}

.cover-short-description {
  margin-top: .88rem;
  font-family: "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
  font-size: 1.2rem;
}
@media (min-width: 767px) {
  .cover-short-description {
    margin-top: 1.15rem;
    font-size: 1.7rem;
  }
}
@media (min-width: 991px) {
  .cover-short-description {
    margin-top: 1.35rem;
    font-size: 2.1rem;
  }
}

.cover-icons-container {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 1.54rem;
  left: calc(50% - 4.35rem);
  width: 8.7rem;
}
@media (min-width: 767px) {
  .cover-icons-container {
    bottom: 3.1rem;
    left: calc(50% - 5.55rem);
    width: 11.1rem;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  .cover-icons-container {
    bottom: 2.1rem;
  }
}

.link-icon {
  padding-top: .5rem;
  padding-bottom: .2rem;
  padding-left: .5rem;
  padding-right: .5rem;
  opacity: .71;
  border: none;
  transition: opacity .2s;
}
@media (min-width: 767px) {
  .link-icon {
    padding-bottom: 0;
  }
}

.link-icon:hover,
.link-icon:focus {
  opacity: 1;
}

.cover-icon {
  width: 1.5rem;
}
@media (min-width: 767px) {
  .cover-icon {
    width: 1.7rem;
  }
}

.icon {
  color: transparent;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 2.5rem;
  color: #43388a;
  background-color: #ffe808;
}
@media (min-width: 767px) {
  .projects {
    padding-bottom: 4rem;
  }
}

.projects-header {
  margin-top: 1.8rem;
  margin-bottom: 1.8rem;
}
@media (min-width: 767px) {
  .projects-header {
    margin-top: 4.2rem;
    margin-bottom: 6.2rem;
  }
}

.projects-header-text {
  margin-bottom: 1.3rem;
  font-size: 1.8rem;
  font-style: italic;
  color: #43388a;
}
@media (min-width: 767px) {
  .projects-header-text {
    margin-bottom: 2.2rem;
    font-size: 4.3rem;
  }
}

.projects-hr {
  height: 1px;
  background-color: #e6d106;
  border: none;
}

.projects-header-hr {
  width: 3.6rem;
}
@media (min-width: 767px) {
  .projects-header-hr {
    width: 8.2rem;
  }
}

.projects-grid {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}
@media (min-width: 767px) {
  .projects-grid {
    flex-direction: row;
    flex-wrap: wrap;
    width: 700px;
    padding: 0;
  }
}
@media (min-width: 991px) {
  .projects-grid {
    width: 900px;
  }
}
@media (min-width: 1199px) {
  .projects-grid {
    width: 1000px;
  }
}

.project {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  position: relative;
  margin-bottom: 5.1rem;
}
@media (min-width: 767px) {
  .project {
    flex-basis: 45%;
    margin-bottom: 0;
  }
}

.project-image-container {
  position: relative;
}

.project-image {
  border-top: 1px solid #544d8a;
  border-right: 1px solid #544d8a;
  border-bottom: 0.4rem solid #544d8a;
  border-left: 1px solid #544d8a;
  background-color: #544d8a;
}

.project-image-corner {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 8rem 8rem 0;
  border-color: transparent #43388a transparent transparent;
}
@media (min-width: 767px) {
  .project-image-corner {
    border-width: 0 9rem 9rem 0;
  }
}

.project-icon {
  position: absolute;
  top: 1.4rem;
  right: 1.4rem;
  width: 1.75rem;
}
@media (min-width: 767px) {
  .project-icon {
    top: 1.4rem;
    right: 1.4rem;
    width: 2.25rem;
  }
}

.project-title {
  margin-top: 1.2rem;
  margin-bottom: 1.1rem;
  font-size: 1.6rem;
  font-style: italic;
  color: #43388a;
}
@media (min-width: 767px) {
  .project-title {
    margin-top: 1.4rem;
    margin-bottom: 1.3rem;
    font-size: 2.1rem;
  }
}

.project-description {
  margin-bottom: 0;
}
.project-description p {
  margin: 0 auto;
  font-family: "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
}
@media (min-width: 767px) {
  .project-description {
    margin-bottom: 1.7rem;
    font-size: 1.4rem;
  }
}

.project-tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin-top: 1.4rem;
  margin-bottom: .86rem;
}
@media (min-width: 767px) {
  .project-tags {
    margin-bottom: .6rem;
  }
}

.tag {
  margin-right: .5rem;
  margin-bottom: .5rem;
  padding-top: .5rem;
  padding-right: .5rem;
  padding-bottom: .4rem;
  padding-left: .5rem;
  font-style: "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
  font-size: .73rem;
  color: #43388a;
  text-transform: uppercase;
  border: 1px solid #43388a;
}
@media (min-width: 767px) {
  .tag {
    font-size: .9rem;
  }
}

.tag:hover {
  background-color: #43388a;
  color: #ffe808;
}

.project-links {
  margin-top: 0;
}

.project-link {
  margin-right: 0.2rem;
  font-size: 1.2rem;
}
@media (min-width: 767px) {
  .project-link {
    font-size: 1.4rem;
  }
}

.projects-row-divisor {
  display: none;
}
@media (min-width: 767px) {
  .projects-row-divisor {
    display: initial;
    margin: 4rem auto;
    width: 100%;
  }
}

.projects-footer {
  display: flex;
}

.btn {
  border: 1px solid #43388a;
  border-bottom: 0.2rem solid #43388a;
  transition: all .5s;
}

.btn-gigantic {
  padding: 1.5rem;
  font-size: 1.3rem;
}
@media (min-width: 767px) {
  .btn-gigantic {
    font-size: 2rem;
  }
}

.btn:hover,
.btn:focus {
  color: #ffe808;
  background-color: #43388a;
}

/*# sourceMappingURL=main.css.map */
