body {
  font-family: Georgia, serif;
  font-size: 18px;
}
.wrapper-outer {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}
.wrapper-middle {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.wrapper-inner {
  text-align: left;
  display: inline-block;
  padding-left: 10%;
  padding-right: 10%;
}
.message {

}
.links {

}
