//
// Modal
//


.modal-card {
  width: auto;
  max-width: 95vw;

  @include media($very-large-devices) {
    max-width: 1100px;
  }

  @include media($extra-large-devices) {
    max-width: 1200px;
  }
}

.modal-header-title {
  margin-top: .2rem;
  margin-bottom: 0;
}

.modal-card-body {
  padding: 20px;

  @include media($medium-devices) {
    padding: 26px;
  }

  @include media($large-devices) {
    padding: 30px;
  }
}

.modal-card-foot {
  padding: .3rem;
}
