//
// Modal
//


.modal-background {
  background-color: rgba(darken($dark-violet, 12), 0.8) !important;
}

.modal-card {
  width: auto;
  max-width: 95vw;

  @include media($very-large-devices) {
    max-width: 1100px;
  }

  @include media($extra-large-devices) {
    max-width: 1200px;
  }

  &-head {
    background-color: darken($light-grey-1, 2.5%);
    border-bottom: 1px solid darken($light-grey-1, 10%);
    border-radius: 0;
  }

  &-title {
    margin-top: .2rem;
    margin-bottom: 0;
    font-size: 1.25rem;
    color: darken($dark-violet, 10%);

    @include media($medium-devices) {
      font-size: 1.5rem;
    }
  }

  &-close {
    position: absolute;
    right: .1rem;
    padding: 1rem;
    font-size: 2rem;
    color: rgba($dark-violet, .5);
    background: transparent;
    border: none;
    cursor: pointer;

    &:hover {
      color: $dark-violet;
    }

    @include media-iphone-large {
      top: 0;
      right: 0;
    }
  }

  &-body {
    padding: 20px;
    background-color: $light-grey-1;

    @include media($medium-devices) {
      padding: 30px;
    }

    @include media($large-devices) {
      padding: 34px;
    }
  }
}
