@import "normalize";


//
// Variables
//


$dejavu-serif: "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
$dejavu-sans: "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;

$brand-color: #4b3f8a;
$brand-color-saturated: #4d3e94;

$dark-violet: #423d78;
$light-violet: #8f81e6;

$pinkish-violet: #71459e;
$purple: #c28bf5;

$dark-yellow: #e6d106;
$yellow: #ffe808;

$light-grey-1: #fbfafc;
$light-grey-2: #f9f5ff;
$white: #fff;

$small-devices: 479px;
$medium-devices: 767px;
$large-devices: 991px;
$very-large-devices: 1199px;


//
// Mixins
//


@mixin flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin media($width) {
  @media (min-width: $width) {
    @content;
  }
}

@mixin media-iphone-large {
  @media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
      @content;
  }
}

@mixin background-gradient {
  background: -webkit-linear-gradient(-45deg, $pinkish-violet 0, $brand-color 100%);
  background: -moz-linear-gradient(135deg, $pinkish-violet 0, $brand-color 100%);
  background: linear-gradient(135deg, $pinkish-violet 0, $brand-color 100%);
  background-position: 50% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
}

@mixin in-circle-degrees($degrees, $circle-width) {
  transform: rotate($degrees) translate($circle-width / 2) rotate(-$degrees);
}


//
// Initial Setup
//


*,
::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: $dejavu-serif;
  font-size: 18px;
  color: #303030;

  @include media($medium-devices) {
    font-size: 22px;
  }

  @include media($large-devices) {
    font-size: 26px;
  }

  @include media($very-large-devices) {
    font-size: 32px;
  }
}

.main-container {
  @include flex-column;
  align-items: center;
  width: 100%;
  height: 100%;
}

img {
  max-width: 100%;
}

a {
  padding-top: 2px;
  padding-bottom: 2px;
  color: $dark-violet;
  text-decoration: none;
  border-bottom: 1px solid;
  transition: all .3s;
}


//
// Front Cover
//


.front-cover {
  @include flex-column;
  height: 100vh;
  width: 100%;
  padding: 1rem;
  color: $light-grey-1;
  @include background-gradient;

  @include media($very-large-devices) {
    width: 100%;
  }
}

.cover-name-container {
  position: relative;
}

.name-question-mark {
  position: absolute;
  top: -1.91rem;
  right: calc(50% - 1.4rem);
  padding: 1rem 1rem 1.5rem 1rem;
  font-size: 1rem;
  opacity: .55;
  transition: opacity .5s;
  cursor: help;

  @include media($medium-devices) {
    top: -.8rem;
    right: -3.5rem;
    padding: 1.5rem;
    font-size: 1.4rem;
  }

  @include media($large-devices) {
    top: 0;
    right: -4rem;
    padding: 1.5rem;
    font-size: 1.5rem;
  }
}

.cover-name {
  position: relative;
  margin-bottom: .7rem;
  font-style: italic;
  font-size: 2rem;
  font-weight: 600;
  transition: all .5s;

  @include media($medium-devices) {
    font-size: 4rem;
  }

  @include media($large-devices) {
    font-size: 5rem;
  }
}

.flip {
  backface-visibility: hidden !important;
  animation: 1s flip forwards;
}

@keyframes flip {
  0% {
    opacity: 1;
    transform: perspective(400px) rotate3d(1, 0, 0, 0deg);
  }

  25% {
    opacity: 1;
  }

  50% {
    opacity: 0;
    transform: perspective(400px) rotate3d(1, 0, 0, -90deg);
  }

  75% {
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -360deg);
  }

  90% {
    transform: perspective(400px) rotate3d(1, 0, 0, -345deg);
  }

  95% {
    transform: perspective(400px) rotate3d(1, 0, 0, -360deg);
  }

  97% {
    transform: perspective(400px) rotate3d(1, 0, 0, -355deg);
  }

  100% {
    opacity: 1;
    transform: perspective(400px) rotate3d(1, 0, 0, -360deg);
  }
}

.hr-small {
  width: 12.9rem;
  height: 2px;
  background-color: $light-grey-1;
  border: 0;

  @include media($medium-devices) {
    margin: 1.25rem;
    width: 16.4rem;
  }

  @include media($large-devices) {
    width: 20.2rem;
    margin: 1.4rem;
  }
}

.cover-short-description {
  margin-top: .88rem;
  font-family: $dejavu-sans;
  font-size: 1.2rem;

  @include media($medium-devices) {
    margin-top: 1.01rem;
    font-size: 1.7rem;
  }

  @include media($large-devices) {
    margin-top: 1.35rem;
    font-size: 2.1rem;
  }
}

.chevron-down {
  position: absolute;
  bottom: 0.35rem;
  padding: 1rem;
  width: 3.8rem;
  opacity: .8;
  border: 0;
  transition: opacity .5s;

  @include media($medium-devices) {
    bottom: 0.9rem;
    width: 5.1rem;
  }

  @include media-iphone-large {
    bottom: 0.7rem;
    width: 4.4rem;
  }
}

.chevron-down:hover,
.chevron-down:focus {
  opacity: 1;
}


//
// Selected Projects
//


// Section Variables

$projects-spacing: 4.5rem;
$projects-spacing-half: $projects-spacing / 2;
$projects-spacing-third: $projects-spacing / 3;
$projects-spacing-additional: .95rem;


// Section Styling

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: $brand-color-saturated;
  background-color: $yellow;
}

.projects-header {
  position: relative;
  margin-top: $projects-spacing-half;
  margin-bottom: $projects-spacing-third * 2 + $projects-spacing-third;

  @include media($medium-devices) {
    margin-top: $projects-spacing + $projects-spacing-half;
    margin-bottom: $projects-spacing * 2 + $projects-spacing-third;
  }
}

.projects-header-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $brand-color-saturated;
  transform: skew(-10deg);
  transition: all 1s ease-out;
}

.projects-header-background[data-emergence=hidden] {
  width: 0%;
  opacity: 0;
}

.projects-header-background[data-emergence=visible] {
  width: 100%;
  opacity: 1;
}

.projects-header-text {
  position: relative;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: .8rem;
  font-size: 1.8rem;
  font-style: italic;
  color: $yellow;
  z-index: 1;

  @include media($medium-devices) {
    margin-bottom: .8rem;
    font-size: 3.5rem;
  }
}

.projects-hr {
  height: 1px;
  background-color: $dark-yellow;
  border: none;
}

.projects-header-hr {
  height: 2px;
  width: 3.6rem;
  background-color: $brand-color-saturated;

  @include media($medium-devices) {
    width: 8.2rem;
  }
}

.projects-grid {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 1rem 0 1rem;

  @include media($medium-devices) {
    flex-direction: row;
    flex-wrap: wrap;
    width: 700px;
    padding: 0;
  }

  @include media($large-devices) {
    width: 900px;
  }

  @include media($very-large-devices) {
    width: 1000px;
  }
}

.project {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  position: relative;
  margin-top: $projects-spacing-half + $projects-spacing-additional;
  padding-bottom: $projects-spacing-half + $projects-spacing-additional;
  border-bottom: 1px solid $dark-yellow;
  transition: all 1s ease-out;

  @include media($medium-devices) {
    flex-basis: 45%;
    margin-top: 0;
    padding-bottom: 0;
    border: none;
  }
}

.first-project {
  margin-top: 0;
}

.last-project {
  border-bottom: 1px solid transparent;
}

.project[data-emergence=hidden].appear-left {
  left: -1rem;
  opacity: 0;
}

.project[data-emergence=hidden].appear-right {
  left: 1rem;
  opacity: 0;
}


.project[data-emergence=visible] {
  left: 0;
  opacity: 1;
}

.project-image-container {
  position: relative;
}

.project-image {
  border-bottom: .4rem solid $brand-color-saturated;
  background-color: $brand-color-saturated;
}

.project-image-corner {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 8rem 8rem 0;
  border-color: transparent $brand-color-saturated transparent transparent;

  @include media($medium-devices) {
    border-width: 0 9rem 9rem 0;
  }
}

.project-icon {
  position: absolute;
  top: 1.4rem;
  right: 1.4rem;
  width: 1.75rem;

  @include media($medium-devices) {
    top: 1.4rem;
    right: 1.4rem;
    width: 2.25rem;
  }
}

.project-title {
  margin-top: 1.2rem;
  margin-bottom: 1.1rem;
  font-size: 1.6rem;
  font-style: italic;
  color: $brand-color-saturated;

  @include media($medium-devices) {
    margin-top: 1.4rem;
    margin-bottom: 1.3rem;
    font-size: 2.1rem;
  }
}

.project-description {
  margin-bottom: 0;

  p {
    margin: 0 auto;
    font-family: $dejavu-sans;
  }

  @include media($medium-devices) {
    margin-bottom: 1.7rem;
    font-size: 1.4rem;
  }
}

.project-tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin-top: 1.4rem;
  margin-bottom: .86rem;

  @include media($medium-devices) {
    margin-bottom: .6rem;
  }
}

.tag {
  margin-right: .5rem;
  margin-bottom: .5rem;
  padding-top: .5rem;
  padding-right: .5rem;
  padding-bottom: .4rem;
  padding-left: .5rem;
  font-style: $dejavu-sans;
  font-size: .73rem;
  color: $brand-color-saturated;
  text-transform: uppercase;
  border: 1px solid $brand-color-saturated;

  @include media($medium-devices) {
    font-size: .9rem;
  }
}

.project-links {
  margin-top: 0;
}

.project-link {
  padding-top: 3px;
  margin-right: .3rem;
  font-size: 1.2rem;
  color: $brand-color-saturated;

  @include media($medium-devices) {
    font-size: 1.4rem;
  }
}

.project-link:hover,
.project-link:focus{
  color: $yellow;
  background-color: $brand-color-saturated;
  border-bottom: 1px solid $brand-color-saturated;
}

.projects-row-divisor {
  display: none;
  transition: all 2s;

  @include media($medium-devices) {
    display: initial;
    margin: $projects-spacing auto;
    width: 100%;
  }
}

.projects-row-divisor[data-emergence=hidden] {
  opacity: 0;
}

.projects-row-divisor[data-emergence=visible] {
  opacity: 1;
}

.projects-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: $projects-spacing-half + $projects-spacing-additional;
  width: 100%;
  @include background-gradient;

  @include media($medium-devices) {
    margin-top: $projects-spacing-half;
  }

  a {
    margin: ($projects-spacing + $projects-spacing-half) 1.1rem;
    font-size: 1.4rem;
    font-style: italic;
    text-align: center;
    line-height: 1.4;
    transition: all 1s;

    @include media($medium-devices) {
      margin: ($projects-spacing * 2 + $projects-spacing-half) auto;
      font-size: 1.7rem;
    }
  }

  a[data-emergence=hidden] {
    border-color: transparent;
  }

  a[data-emergence=visible] {
    border-color: unset;
  }
}


//
// Back Cover
//


.back-cover {
  position: relative;
  @include flex-column;
  height: 100vh;
  width: 100%;
  padding: 1rem;
  color: $brand-color-saturated;
  background-color: $light-grey-2;

  @include media($very-large-devices) {
    width: 100%;
  }
}

.lets-talk-container {
  position: relative;
}

.lets-talk-link {
  transition: opacity 1s;
}

.lets-talk-link[data-emergence=hidden] {
  opacity: 0;
}

.lets-talk-link[data-emergence=visible] {
  opacity: 1;
}

.lets-talk-link:hover,
.lets-talk-link:focus {
  outline: none;
}

.lets-talk-link:focus > .lets-talk::after {
  content: "";
  position: absolute;
  top: -0.26rem;
  left: -0.26rem;
  width: 12.52rem;
  height: 12.52rem;
  outline: none;
  border: 1px dotted $brand-color-saturated;
  border-radius: 100%;

  @include media($medium-devices) {
    top: -0.65rem;
    left: -0.65rem;
    width: 31.3rem;
    height: 31.3rem;
  }

  @include media-iphone-large {
    top: -0.26rem;
    left: -0.26rem;
    width: 12.52rem;
    height: 12.52rem;
  }
}

.lets-talk {
  position: relative;
  width: 12rem;
  height: 12rem;
  color: $light-grey-1;
  @include background-gradient;
  cursor: pointer;
  border-radius: 100%;
  z-index: 1;

  @include media($medium-devices) {
    width: 30rem;
    height: 30rem;
  }

  @include media-iphone-large {
    width: 12rem;
    height: 12rem;
  }
}

.lets-talk-text {
  position: absolute;
  top: -.84rem;
  left: 1.88rem;
  width: 71%;
  font-size: 3.2rem;
  font-weight: bold;
  font-style: italic;
  opacity: 1;
  transition: opacity .25s;

  @include media($medium-devices) {
    top: -2.1rem;
    left: 4.7rem;
    font-size: 8rem;
  }

  @include media-iphone-large {
    top: -.84rem;
    left: 1.88rem;
    font-size: 3.2rem;
  }
}

.lets-talk:hover > .lets-talk-text {
  opacity: 0;
}

.lets-talk-mail {
  position: absolute;
  top: calc(50% - 3.64rem);
  left: calc(50% - 3.6rem);
  width: 7.35rem;
  opacity: 0;
  transition: opacity .25s;

  @include media($medium-devices) {
    top: calc(50% - 9.2rem);
    left: calc(50% - 9.1rem);
    width: 18.4rem;
  }

  @include media-iphone-large {
    top: calc(50% - 3.64rem);
    left: calc(50% - 3.6rem);
    width: 7.35rem;
  }
}

.lets-talk:hover > .lets-talk-mail {
  opacity: 1;
}

.cover-icons-container {
  position: absolute;
  top: -.86rem;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 1s;
  transition-delay: .7s;

  @include media($medium-devices) {
    top: -.95rem;
  }

  @include media-iphone-large {
    top: -.86rem;
  }
}

.cover-icons-container[data-emergence=hidden] {
  opacity: 0;
}

.cover-icons-container[data-emergence=visible] {
  opacity: 1;
}

.cover-icon {
  width: 1.5rem;

  @include media($medium-devices) {
    width: 3rem;
  }

  @include media-iphone-large {
    width: 1.5rem;
  }
}

.link-icon {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -0.41rem;
  padding: .25rem .2rem .01rem .2rem;
  opacity: .9;
  border: 1px dotted transparent;
  border-radius: 100%;
  transition: all .2s;

  @include media($medium-devices) {
    margin: -1.5rem; // Half of the cover icon width.
    padding: .5rem .5rem .05rem .5rem;
  }

  @include media-iphone-large {
    margin: -0.41rem;
    padding: .25rem .2rem .01rem .2rem;
  }
}

.link-icon:hover,
.link-icon:focus {
  outline: none;
}

.link-icon:focus {
  outline: none;
  border: 1px dotted $brand-color-saturated;
}

.link-icon-twitter {
  @include in-circle-degrees($degrees: -40deg, $circle-width: 14rem);

  @include media($medium-devices) {
    @include in-circle-degrees($degrees: -45deg, $circle-width: 35rem);
  }

  @include media-iphone-large {
    @include in-circle-degrees($degrees: -40deg, $circle-width: 14rem);
  }
}

.link-icon-github {
  @include in-circle-degrees($degrees: -15deg, $circle-width: 14rem);

  @include media($medium-devices) {
    @include in-circle-degrees($degrees: -25deg, $circle-width: 35rem);
  }

  @include media-iphone-large {
    @include in-circle-degrees($degrees: -15deg, $circle-width: 14rem);
  }
}

.link-icon-exercism {
  @include in-circle-degrees($degrees: 10deg, $circle-width: 14rem);

  @include media($medium-devices) {
    @include in-circle-degrees($degrees: -5deg, $circle-width: 35rem);
  }

  @include media-iphone-large {
    @include in-circle-degrees($degrees: 10deg, $circle-width: 14rem);
  }
}


//
// Helpers
//


.opacity-hidden {
  opacity: 0;
}

.icon {
  color: transparent;
}

.hr-20 {
  width: 20%;
}

.btn {
  border: 1px solid $brand-color-saturated;
  border-bottom: .2rem solid $brand-color-saturated;
  transition: all .5s;
}

.btn:hover,
.btn:focus {
  color: $yellow;
  @include background-gradient;
}

.btn-yellow {
  color: $yellow;
  border: 1px solid $yellow;
  border-bottom: .2rem solid $yellow;
  transition: all .5s;
}

.btn-yellow:hover,
.btn-yellow:focus {
  color: $brand-color-saturated;
  background-color: $yellow;
  border-bottom: .2rem solid $white;
}

.btn-gigantic {
  padding: 1.5rem;
  font-size: 1.5rem !important;

  @include media($medium-devices) {
    font-size: 2.2rem !important;
  }
}
