@import "normalize";


// Variables


$dejavu-serif: "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
$dejavu-sans: "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;

$brand-color: #544d8a;
$dark-violet: #403d78;
$light-violet: #8b81e6;
$pinkish-violet: #705a9e;
$purple: #bf8bf5;

$light-grey: #fbfafc;
$white: #fff;

$medium-devices: 767px;
$large-devices: 991px;
$very-large-devices: 1199px;


// Mixins


@mixin flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin media($width) {
  @media (min-width: $width) {
    @content;
  }
}

@mixin media-iphone-large {
  @media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
      @content;
  }
}

@mixin background-gradient {
  background: -webkit-linear-gradient(-45deg, $pinkish-violet 0, $brand-color 100%);
  background: -moz-linear-gradient(135deg, $pinkish-violet 0, $brand-color 100%);
  background: linear-gradient(135deg, $pinkish-violet 0, $brand-color 100%);
  background-position: 50% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
}


// Initial Setup


*,
::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: $dejavu-serif;
  font-size: 18px;
  color: #303030;

  @include media($medium-devices) {
    font-size: 22px;
  }

  @include media($large-devices) {
    font-size: 26px;
  }

  @include media($very-large-devices) {
    font-size: 32px;
  }
}

.main-container {
  @include flex-column;
  align-items: center;
  width: 100vw;
  height: 100vh;
}


// Cover


.cover {
  @include flex-column;
  height: 100vh;
  width: 100%;
  padding: 1rem;
  color: $light-grey;
  @include background-gradient;

  @include media($very-large-devices) {
    width: 100vw;
  }
}

.cover-decoration {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  padding: .4rem;

  @include media($medium-devices) {
    padding: .7rem;
  }
}

.cover-decoration-border {
  width: 100%;
  height: 100%;
  border: 1px solid $purple;
}

.cover-introduction {
  margin-bottom: .6rem;
  font-style: italic;
  font-size: 2rem;
  font-weight: 600;

  @include media($medium-devices) {
    font-size: 4rem;
  }

  @include media-iphone-large {
    margin-top: -1.65rem;
  }

  @include media($large-devices) {
    font-size: 5rem;
  }
}

.hr-small {
  width: 13.1rem;
  height: 1px;
  background-color: $light-grey;
  border: 0;

  @include media($medium-devices) {
    width: 17rem;
  }

  @include media($large-devices) {
    width: 20.6rem;
    margin: 1.4rem;
  }
}

.cover-short-description {
  margin-top: .88rem;
  font-family: $dejavu-sans;
  font-size: 1.2rem;

  @include media($medium-devices) {
    margin-top: 1.15rem;
    font-size: 1.7rem;
  }

  @include media($large-devices) {
    margin-top: 1.35rem;
    font-size: 2.1rem;
  }
}

.cover-icons {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 1.54rem;
  left: calc(50% - 4.35rem); // 50% minus half of the width.
  width: 8.7rem;

  @include media($medium-devices) {
    bottom: 3.1rem;
    left: calc(50% - 5.55rem); // 50% minus half of the width.
    width: 11.1rem;
  }

  @include media-iphone-large {
    bottom: 2.1rem;
  }
}

.link-icon {
  padding-top: .5rem;
  padding-bottom: .2rem;
  padding-left: .5rem;
  padding-right: .5rem;
  opacity: .71;
  transition: opacity .2s;

  @include media($medium-devices) {
    padding-bottom: 0;
  }
}

.link-icon:hover,
.link-icon:focus {
  opacity: 1;
}

.icon {
  width: 1.5rem;

  @include media($medium-devices) {
    width: 1.7rem;
  }
}
