@import "normalize";


//
// Variables
//


$dejavu-serif: "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
$dejavu-sans: "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;

$brand-color: #544d8a;
$brand-color-saturated: #43388a;
$dark-violet: #403d78;
$light-violet: #8b81e6;
$pinkish-violet: #705a9e;
$purple: #bf8bf5;

$dark-yellow: #e6d106;
$yellow: #ffe808;

$light-grey: #fbfafc;
$white: #fff;

$small-devices: 479px;
$medium-devices: 767px;
$large-devices: 991px;
$very-large-devices: 1199px;


//
// Mixins
//


@mixin flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin media($width) {
  @media (min-width: $width) {
    @content;
  }
}

@mixin media-iphone-large {
  @media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
      @content;
  }
}

@mixin background-gradient {
  background: -webkit-linear-gradient(-45deg, $pinkish-violet 0, $brand-color 100%);
  background: -moz-linear-gradient(135deg, $pinkish-violet 0, $brand-color 100%);
  background: linear-gradient(135deg, $pinkish-violet 0, $brand-color 100%);
  background-position: 50% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
}


//
// Initial Setup
//


*,
::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: $dejavu-serif;
  font-size: 18px;
  color: #303030;

  @include media($medium-devices) {
    font-size: 22px;
  }

  @include media($large-devices) {
    font-size: 26px;
  }

  @include media($very-large-devices) {
    font-size: 32px;
  }
}

.main-container {
  @include flex-column;
  align-items: center;
  width: 100%;
  height: 100%;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  border-bottom: 1px solid;
  color: $dark-violet;
}

a:hover,
a:focus {
  color: $brand-color;
}


//
// Cover
//


.cover {
  @include flex-column;
  height: 100vh;
  width: 100%;
  padding: 1rem;
  color: $light-grey;
  @include background-gradient;

  @include media($very-large-devices) {
    width: 100%;
  }
}

.cover-decoration {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  padding: .4rem;

  @include media($medium-devices) {
    padding: .7rem;
  }
}

.cover-decoration-top {
  width: calc(100% - 3rem);
  height: 1px;
  border-top: 1px solid $purple;

  @include media($medium-devices) {
    right: .7rem;
    width: calc(100% - 6rem);
  }
}

.cover-decoration-right {
  position: absolute;
  top: 2.6rem;
  right: .4rem;
  height: calc(100vh - 3rem);
  width: 1px;
  border-right: 1px solid $purple;

  @include media($medium-devices) {
    top: 5.3rem;
    right: .7rem;
    height: calc(100vh - 6rem);
  }
}

.cover-decoration-bottom {
  position: absolute;
  bottom: .4rem;
  left: 2.6rem;
  width: calc(100% - 3rem);
  height: 1px;
  border-bottom: 1px solid $purple;

  @include media($medium-devices) {
    bottom: .7rem;
    left: 5.3rem;
    width: calc(100% - 6rem);
  }
}

.cover-decoration-left {
  height: calc(100vh - 3rem);
  width: 1px;
  border-left: 1px solid $purple;

  @include media($medium-devices) {
    bottom: .7rem;
    height: calc(100vh - 6rem);
  }
}

.cover-name-container {
  position: relative;
  cursor: help;
}

.name-question-mark {
  position: absolute;
  top: -1.85rem;
  right: calc(50% - 1.4rem);
  padding: 1rem 1rem 1.5rem 1rem;
  font-size: 1rem;
  opacity: .55;
  transition: opacity .5s;

  @include media($medium-devices) {
    top: -.8rem;
    right: -3.5rem;
    padding: 1.5rem;
    font-size: 1.4rem;
  }

  @include media($large-devices) {
    top: 0;
    right: -4rem;
    padding: 1.5rem;
    font-size: 1.5rem;
  }
}

.opacity-hidden {
  opacity: 0;
}

.cover-name {
  position: relative;
  margin-bottom: .6rem;
  font-style: italic;
  font-size: 2rem;
  font-weight: 600;
  transition: all .5s;

  @include media($medium-devices) {
    font-size: 4rem;
  }

  @include media($large-devices) {
    font-size: 5rem;
  }
}

.flip {
  backface-visibility: hidden !important;
  animation: 1s flip forwards;
}

@keyframes flip {
  0% {
    opacity: 1;
    transform: perspective(400px) rotate3d(1, 0, 0, 0deg);
  }

  25% {
    opacity: 1;
  }

  50% {
    opacity: 0;
    transform: perspective(400px) rotate3d(1, 0, 0, -90deg);
  }

  75% {
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -360deg);
  }

  90% {
    transform: perspective(400px) rotate3d(1, 0, 0, -345deg);
  }

  95% {
    transform: perspective(400px) rotate3d(1, 0, 0, -360deg);
  }

  97% {
    transform: perspective(400px) rotate3d(1, 0, 0, -355deg);
  }

  100% {
    opacity: 1;
    transform: perspective(400px) rotate3d(1, 0, 0, -360deg);
  }
}

.hr-small {
  width: 13.1rem;
  height: 1px;
  background-color: $light-grey;
  border: 0;

  @include media($medium-devices) {
    width: 17rem;
  }

  @include media($large-devices) {
    width: 20.6rem;
    margin: 1.4rem;
  }
}

.cover-short-description {
  margin-top: .88rem;
  font-family: $dejavu-sans;
  font-size: 1.2rem;

  @include media($medium-devices) {
    margin-top: 1.15rem;
    font-size: 1.7rem;
  }

  @include media($large-devices) {
    margin-top: 1.35rem;
    font-size: 2.1rem;
  }
}

.cover-icons-container {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 1.54rem;
  left: calc(50% - 4.35rem); // 50% minus half of the width.
  width: 8.7rem;

  @include media($medium-devices) {
    bottom: 3.1rem;
    left: calc(50% - 5.55rem); // 50% minus half of the width.
    width: 11.1rem;
  }

  @include media-iphone-large {
    bottom: 2.1rem;
  }
}

.link-icon {
  padding-top: .5rem;
  padding-bottom: .2rem;
  padding-left: .5rem;
  padding-right: .5rem;
  opacity: .71;
  border: none;
  transition: opacity .2s;

  @include media($medium-devices) {
    padding-bottom: 0;
  }
}

.link-icon:hover,
.link-icon:focus {
  opacity: 1;
}

.cover-icon {
  width: 1.5rem;

  @include media($medium-devices) {
    width: 1.7rem;
  }
}

.icon {
  color: transparent;
}


//
// Selected Projects
//


.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 2.5rem;
  color: $brand-color-saturated;
  background-color: $yellow;

  @include media($medium-devices) {
    padding-bottom: 4rem;
  }
}

.projects-main-title {
  margin-top: 1.8rem;
  margin-bottom: 1.8rem;

  @include media($medium-devices) {
    margin-top: 6.3rem;
    margin-bottom: 7.8rem;
  }
}

.projects-main-title-text {
  margin-bottom: 1.3rem;
  font-size: 1.8rem;
  font-style: italic;
  color: $brand-color-saturated;

  @include media($medium-devices) {
    margin-bottom: 2.2rem;
    font-size: 4.3rem;
  }
}

.projects-hr {
  height: 1px;
  background-color: $dark-yellow;
  border: none;
}

.projects-main-title-hr {
  width: 3.6rem;

  @include media($medium-devices) {
    width: 8.2rem;
  }
}

.projects-grid {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;

  @include media($medium-devices) {
    flex-direction: row;
    flex-wrap: wrap;
    width: 700px;
    padding: 0;
  }

  @include media($large-devices) {
    width: 900px;
  }

  @include media($very-large-devices) {
    width: 1000px;
  }
}

.project {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  position: relative;
  margin-bottom: 5.1rem;

  @include media($medium-devices) {
    flex-basis: 45%;
    margin-bottom: 0;
  }
}

.project-image-container {
  position: relative;
}

.project-image {
  border-top: 1px solid $brand-color;
  border-right: 1px solid $brand-color;
  border-bottom: .4rem solid $brand-color;
  border-left: 1px solid $brand-color;
  background-color: $brand-color;
}

.project-image-corner {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 8rem 8rem 0;
  border-color: transparent $brand-color-saturated transparent transparent;

  @include media($medium-devices) {
    border-width: 0 9rem 9rem 0;
  }
}

.project-icon {
  position: absolute;
  top: 1.4rem;
  right: 1.4rem;
  width: 1.75rem;

  @include media($medium-devices) {
    top: 1.4rem;
    right: 1.4rem;
    width: 2.25rem;
  }
}

.project-title {
  margin-top: 1.2rem;
  margin-bottom: 1.1rem;
  font-size: 1.6rem;
  font-style: italic;
  color: $brand-color-saturated;

  @include media($medium-devices) {
    margin-top: 1.4rem;
    margin-bottom: 1.3rem;
    font-size: 2.1rem;
  }
}

.project-description {
  margin-bottom: 0;

  p {
    margin: 0 auto;
    font-family: $dejavu-sans;
  }

  @include media($medium-devices) {
    margin-bottom: 1.7rem;
    font-size: 1.4rem;
  }
}

.project-tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin-top: 1.4rem;
  margin-bottom: .86rem;

  @include media($medium-devices) {
    margin-bottom: .6rem;
  }
}

.tag {
  margin-right: .5rem;
  margin-bottom: .5rem;
  padding-top: .5rem;
  padding-right: .5rem;
  padding-bottom: .4rem;
  padding-left: .5rem;
  font-style: $dejavu-sans;
  font-size: .73rem;
  color: $brand-color-saturated;
  text-transform: uppercase;
  border: 1px solid $brand-color-saturated;

  @include media($medium-devices) {
    font-size: .9rem;
  }
}

.tag:hover {
  background-color: $brand-color-saturated;
  color: $yellow;
}

.project-links {
  margin-top: 0;
}

.project-link {
  margin-right: 0.2rem;
    font-size: 1.2rem;

  @include media($medium-devices) {
    font-size: 1.4rem;
  }
}

.projects-row-divisor {
  display: none;

  @include media($medium-devices) {
    display: initial;
    margin: 4rem auto;
    width: 100%;
  }
}


//
// Helpers
//


.btn {
  border: 1px solid $brand-color-saturated;
  border-bottom: .2rem solid $brand-color-saturated;
  transition: all .5s;
}

.btn-gigantic {
  padding: 1.5rem;
  font-size: 1.3rem;

  @include media($medium-devices) {
    font-size: 2rem;
  }
}

.btn:hover,
.btn:focus {
  color: $yellow;
  background-color: $brand-color-saturated;
}
