//
// Mixins
//


// Container


@mixin flex-container($direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}


// Media


@mixin media($width) {
  @media (min-width: $width) {
    @content;
  }
}

@mixin media-between($min-width, $max-height) {
  @media (min-width: $min-width) and (max-height: $max-height) {
    @content;
  }
}

@mixin media-between-widths($min-width, $max-width) {
  @media (min-width: $min-width) and (max-width: $max-width) {
    @content;
  }
}

@mixin media-iphone-large {
  @media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
      @content;
  }
}


// Background


@mixin background-gradient {
  background: -webkit-linear-gradient(-45deg, $pinkish-violet 0, $brand-color 100%);
  background: -moz-linear-gradient(135deg, $pinkish-violet 0, $brand-color 100%);
  background: linear-gradient(135deg, $pinkish-violet 0, $brand-color 100%);
  background-position: 50% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
}

@mixin background-hover-animation {
  position: relative;
  transition: all .25s;
  z-index: 0;

  &:hover,
  &:focus {
    background-color: transparent;
  }

  &::before {
    content: "";
    position: absolute;
    bottom: -2%;
    left: 0;
    right: 0;
    height: 0%;
    background-color: $brand-color-saturated;
    transition: all .25s;
    z-index: -10;
  }

  &:hover::before,
  &:focus::before {
    height: 104%;
  }
}


// Various


@mixin in-circle-degrees($degrees, $circle-width) {
  transform: rotate($degrees) translate($circle-width / 2) rotate(-$degrees);
}

@mixin section-frame-border {
  border: .8rem solid $brand-color;
}
