//
// Variables
//


// Fonts


$dejavu-serif: "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
$dejavu-sans: "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;


// Colors


$brand-color: #4b3f8a;
$brand-color-saturated: #4d3e94;

$dark-violet: #423d78;
$light-violet: #8f81e6;

$pinkish-violet: #71459e;
$purple: #c28bf5;

$dark-yellow: #e6d106;
$yellow: #ffe808;
$light-yellow: #ffef54;

$light-grey-1: #fbfafc;
$light-grey-2: #f9f5ff;
$white: #fff;


// Container Widths


$container-width-medium-devices: 700px;
$container-width-large-devices: 900px;
$container-width-very-large-devices: 1000px;


// Media Widths


$small-devices: 479px;
$medium-devices: 767px;
$large-devices: 991px;
$very-large-devices: 1199px;
$extra-large-devices: 1400px;
