---
title: "Luján Fernaud · Full-Stack Rails Developer"
---

<main class="main-container">
  <%= partial "partials/front_cover" %>
  <%= partial "partials/about" %>
  <%= partial "partials/projects" %>
  <%= partial "partials/back_cover" %>
</main>
