//
// Stats
//


$stats-gutter: 2.6rem;
$stats-gutter-medium: 3.1rem;
$stats-gutter-large: 3.6rem;


.stats-container {
  position: relative;
  @include flex-container(column);
  min-height: 100vh;
  width: 100%;
  max-width: 1200px;
  padding: 0;

  @include media($medium-devices) {
    padding: .5rem;
  }

  // Hack to apply extra bottom padding only in Firefox,
  // as it collapses margins and paddings and nothing else
  // seemed to work.
  @supports (-moz-appearance: meterbar) {
    padding: 0 0 1rem 0;

    @include media($medium-devices) {
      padding: .5rem .5rem $stats-gutter .5rem;
    }
  }
}

.stats {
  &__h3 {
    margin-top: $stats-gutter;

    &:first-child {
      margin-top: .3rem;
    }

    @include media($medium-devices) {
      margin-top: $stats-gutter-medium;
    }

    @include media($large-devices) {
      margin-top: $stats-gutter-large;
    }
  }

  &__img {
    border: 1px solid rgba(#ddd, .6);
    box-shadow: 0 3px 16px rgba(#ccc, .5);
  }

  &__p {
    margin-top: 1.2rem;
    margin-bottom: 0;
    font-family: $dejavu-sans;

    @include media($medium-devices) {
      margin-top: $stats-gutter-medium;
    }

    @include media($large-devices) {
      margin-top: $stats-gutter-large;
    }
  }
}
